{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
                    {% block side_bar_after_nav %}
                    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px; color:#bbb;">
                        <a href="{{ path('main_homepage') }}">Return to user site</a>
                    </p>
                    {% endblock %}
